@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,700;1,400&display=swap');
@import "header.css";
@import "navbar.css";
@import "register_form.css";
@import "aside.css";
@import "home.css";
@import "friends.css";
@import "profile.css";

html {
    background-image: radial-gradient(rgb(204, 253, 27), #C3E0E5, #C3E0E5,  #274472);
    padding-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

h1, h4{
    color: white;
    text-shadow: 2px 5px 4px black;
}

body {
    
    width: auto;
    min-width: 240px;
    /* background-image: radial-gradient(rgb(137, 137, 243), rgb(137, 137, 243), black); */
    background-image: linear-gradient(#0d4f70, #0E86D4, #0d4f70);
    background-size: 100%;
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    box-shadow: 5px 5px 6px 2px black;
    padding: 10px;
}

section {
    
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

.addPostForm{
    border-radius: 0.5em;
    padding: 5px;
    background-image: url("/img/linegeo2-03-11-01.jpg");
    background-size: 200px;
    box-shadow: 2px 2px 4px 1px black;
}

.titleField {
    font-family: 'Philosopher', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    max-width: 300px;
    border-radius: 1em;
    border: 0px;
    padding-left: 15px;
}

.textareaNote {
    font-family: 'Philosopher', sans-serif;
    width: 100%;
    border-radius: 1em;
    border: 0px;
    height: 30px;
    margin-left: 0px;
    padding-left: 15px;
    resize: none;
    transition: 1s;
}

.textareaNoteEdit {
    font-family: 'Philosopher', sans-serif;
    width: 100%;
    border-radius: 1em;
    border: 0px;
    height: 350px;
    margin-left: 0px;
    padding-left: 15px;
    resize: none;
    transition: 1s;
}

.textareaNote:focus {
    height: 150px;
    font-family: 'Philosopher', sans-serif; 
}

#category{
    height: 30px;
}

.categoryTab{
    margin-top: 5px;
    background-image: linear-gradient(white, rgb(172, 172, 172));
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 1em;
}

.addCategBtn{
    width: 60px;
    font-weight: bold;
    color: black;
    background-image: linear-gradient( rgb(137, 137, 243), rgb(255, 255, 255));
    box-shadow: 1px 1px 1px 1px black;
    margin-right: 10px;
    margin-top: 5px;
    padding: 2px;
    border-radius: 0.5em;
    border:0px;
}

.addCategBtn:hover{
    color:white;
    background-image: linear-gradient(rgb(137, 137, 243), rgb(137, 137, 243), rgb(21, 17, 255));
    box-shadow: 1px 2px 1px 1px black;
}

.addFormBtn {
    color: black;
    width: 100px;
    font-weight: bold;
    color: black;
    background-image: linear-gradient( rgb(137, 137, 243), rgb(255, 255, 255));
    box-shadow: 1px 1px 1px 1px black;
    margin-right: 10px;
    padding: 5px;
    border-radius: 0.5em;
    border:0px;
}

.addFormBtn:hover {
    color:white;
    background-image: linear-gradient(rgb(137, 137, 243), rgb(137, 137, 243), rgb(21, 17, 255));
    box-shadow: 1px 2px 1px 1px black;
}

.addFormBtn:active{
    background-color: brown;
    box-shadow: 2px 3px 1px 1px black;
}

#headerLogo {
    margin-left: 40%;
 }

.loginMessage{
    color: azure;
}

.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    min-width: 270px;
    max-width: 320px;
    background-image: radial-gradient( rgb(184, 184, 235), #003060);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 30px;
    border-radius: 3em;
    box-shadow: 0px 2px 8px 1px black; 
}

.login #userName {
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 0.5em;
    padding-left: 5px;
    box-shadow: 1px 2px 4px 0px black; 
}

.login #password {
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 0.5em;
    padding-left: 5px;
    box-shadow: 1px 2px 4px 0px black; 
}

.publicArticles{
    border: 1px solid white;
    height: 200px;
    width: auto;
}

.postDisplay {
    color: black;
    width: auto;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 1em;
    background-image: radial-gradient(white, white, rgb(236, 236, 236), rgb(230, 229, 231));
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 2px black;
} 

.titlePost{
    font-weight: bold;
    color: #003060;
}

.titlePost:visited{
    color: #003060;
    ;
    
}

.btnDelete {
    width: 30px;
    text-align: center;
    font-size: 14px;
    float: right;
    margin-top: -30px;
    text-decoration: none;
    padding: 4px;
    color: black;
    background-image: linear-gradient(to bottom, rgb(248, 248, 252), rgb(255, 0, 0));
    box-shadow: 1px 1px 3px 0.5px black;
    /* border: 1px solid black; */
    border-radius: 1em;
    animation: normal;
    transition: 0.5s;
} 

.btnDelete:hover { 
    width: 30px;
    text-align: center;
    color: white;
    /* border: 1px solid black; */
    background-image: linear-gradient(to bottom, rgb(247, 247, 242), blue);
    border-radius: 0em;
    text-decoration: none;
} 

.btnEdit {
    width: 40px;
    text-align: center;
    font-size: 14px;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    text-decoration: none;
    padding: 4px;
    color: black;
    background-image: linear-gradient(to bottom, rgb(248, 248, 252), rgb(255, 0, 0));
    box-shadow: 1px 1px 3px 0.5px black;
    border-radius: 1em;
    animation: normal;
    transition: 0.5s;
} 

.btnEdit:hover { 
    color: rgb(175, 161, 161);
    width: 40px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgb(247, 247, 242), blue);
    box-shadow: 1px 1px 3px 0.5px black;
    border-radius: 0em;
} 

.btnEdit:visited { color: black; }

.comment{
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 1px 6px 2px black;
}

.commentUsername{
    color:white;
    text-shadow: 2px 2px 3px black;
}

.commentDatetime{
    color: white;
    float: right;
    margin-right: 10px;
}

.commentContent{
    background-color: antiquewhite;
    border-radius: 0.5em;
    margin-top: 10px;
    padding: 5px;
    word-wrap: normal;
    text-align: justify;
}

.commentContentDiv{
    width: 100%;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px 1px black;
    margin-bottom: 20px;
    border-radius: 0.5em;
}

.commentAddContent{
    width: 100%;
    height: 30px;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px 1px black;
    animation: normal;
    transition: 0.5s;
}

.commentAddContent:focus{
    width: 100%;
    resize: none;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid white;
    box-shadow: 0px 0px 4px 2px black;
}

.commentAddBtn{
    color: white;
    font-weight: bold;
    width: 120px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    padding: 4px;
    color: black;
    background-image: linear-gradient(rgb(137, 137, 243), rgb(137, 137, 243), rgb(120, 187, 250));
    box-shadow: 0px 0px 1px 1px black;
    border-radius: 0.2em;
    margin-top: 10px;
}

.commentAddBtn:hover{
    font-weight: bold;
    width: 120px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    padding: 4px;
    color: black;
    background-image: linear-gradient(rgb(137, 137, 243), rgb(137, 137, 243), rgb(21, 17, 255));
    box-shadow: 0px 0px 1px 1px black;
    border-radius: 0.2em;
    margin-top: 10px;
}

.btnDeleteComment{
    width: 30px;
    text-align: center;
    font-size: 14px;
    float: right;
    text-decoration: none;
    padding: 4px;
    color: black;
    background-image: linear-gradient(to bottom, rgb(248, 248, 252), rgb(255, 0, 0));
    box-shadow: 0px 0px 1px 1px black;
    border-radius: 1em;
    animation: normal;
    transition: 0.5s;
}

.btnDeleteComment:hover { 
    width: 30px;
    height: 30px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgb(247, 247, 242), blue);
    border-radius: 0em;
} 

h3{
    text-align: justify;
    /* text-shadow: 2px 5px 4px black; */
}

 .showContent {
    font-size: 18px;
    word-wrap: break-word;
    text-align: justify;
    white-space: pre-wrap;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
} 

footer {
    color: white;
    text-align: center;
    width: 100%;
    /* border: 1px solid black; */
    clear: left;
    background-color: #4771AC;
    border-radius: 0.7em;
    padding: 5px;
    box-shadow: 2px 2px 4px 1px black;
    margin-bottom: 10px;
}

.footerDiv{
    text-align: right;
    color:black;
    border-radius: 0.7em;
    width: 100%;
    height: 30px;
    /* background-color: blue; */
    background-image: linear-gradient(#bbbbbb,#d6d6d6,#4771AC);
    
}

.footerDiv a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px black;
    margin-right: 10px;
}
.footerDiv a:hover{
    color: yellow;
    text-decoration: none;
}

.photosPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
    background-color: bisque;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    color: white;
}

.uploadImageDiv {
    display: flex;
    font-size: 1em;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    padding-bottom: 2px;
    border-radius: 1em;
    width: 300px; 
    height: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgb(70, 179, 179);
    background-image: radial-gradient(white, rgb(207, 207, 207), rgb(134, 130, 130));
    background-size: 100% 100%;
    box-shadow: 1px 2px 4px 2px black; 
} 

.uploadImageDiv:hover {
    box-shadow: 1px 2px 7px 2px black;
}

.uploadImage{
    width: 100%;
    height: 180px;
    animation: normal;
    transition: 0.5s;
}

.uploadImage:active {
    margin-right: 600px;
    transform: scale(2);
    border-radius: 0.5em; 
 }

 .uploadImageTitle {
    color: white;
    font-size: 12px; 
    background-color: #0E79BD;
    border-radius: 0.2em;
}

.photoNavBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.uploadedImageBtn {
    display: flex;
    /* width: 120px; */
    /* height: 40px; */
    color: black;
    font-size: 0.7em;
    width: 5em;
    background-color: coral;
    text-decoration: none;
    text-align: center;
    justify-content: space-around;
    align-self: center;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px 1px black;
    padding: 0.2em 1.5em;
    text-transform: uppercase
}

.uploadedImageBtn:visited {
    color: white;
    background-color: #0E86D4;
}

.uploadedImageBtn:hover {
    color: white;
    background-color: blue;
    text-decoration: none;
}

.paginationNavBar{
    color: black;
    width: auto;
    background-image: linear-gradient(white, rgb(172, 172, 172));
    text-align: center;
    margin-bottom: 10px;
    border-radius: 0.7em;
    box-shadow: 2px 2px 4px 1px black;
}

.paginationNavBar a{
    color: #003060;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.paginationNavBar a:hover{
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    
    

    section {
        width: 100%;
        
    }

    aside {
        width: 100%;
        
    }

    .commentContentDiv{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    html{
        padding: 70px;
    }
    
    section {
        width: 65.5%;
    
    }
    
    aside {
        width: 33.5%;
    }

    .navLogo{
        display: none;
    }

    .commentContentDiv{
        width: 60%;
        padding:20px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 4px 1px black;
        margin-bottom: 20px;
        border-radius: 0.5em;
    }

}


.userAccountDataUpload {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40px; 
    padding-top: 5px;
    background-color: rgb(54, 91, 255);
    box-shadow: 1px 2px 4px 2px black;
    margin-bottom: 20px;
}

.userAccountDataUpload .choose {
    margin-top: 20px;
    margin-left: -230px;
}

#fileToUpload {
    width: 250px;
}

.userAccountDataUpload .add {
    width: 70px;
    height: 30px;
    /* margin-top: 5px; */
    animation: normal;
    transition: 0.2s;
}

.userAccountDataUpload .add:hover {
    color: white;
    background-color: rgb(19, 12, 2);
}



